<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>Recipes</title>
</head>
<body>
<div class="container">
    <div>

    </div>
    <% for(var i=0; i<recipes.length; i++) {%>
        <img class="materialboxed"  width="200" height="200" src="<%= typeof recipes[i].imageUrl != 'undefined' ? recipes[i].imageUrl : '' %>" class="responsive-img">
        <div>
            <span><%= recipes[i].recipeName %></span>
        </div>
        <div>
            <span><%= recipes[i].recipeDescription %></span>
        </div>
        <div class="divider"></div>
    <% } %>
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>